
[Unit]
Description=A Minecraft service
After=network.target auditd.service syslog.service
ConditionPathExists=/home/minecraft/minecraft.py
ConditionPathExists=/usr/lib/jvm/java-11-openjdk-amd64/bin/java

[Service]
Type=forking
User=minecraft
WorkingDirectory=/home/minecraft
ExecStart=/home/minecraft/minecraft.py start
ExecStop=/home/minecraft/minecraft.py stop
PIDFile=/home/minecraft/pidfile
Restart=always

[Install]
Alias=minecraft.service

